// defines for the credentials
#define SSID1   "MyWiFi"
#define PW1     "MyWiFiPassword"
#define MQTT1   "192.168.200.10"
#define SSID2   "ssid2"
#define PW2     "pass2"
#define MQTT2   "192.168.200.10"
#define SSID3   "IoT"
#define PW3     "pass3"
#define MQTT3   "192.168.200.10"
#define W_ENCRYPTION_KEY      0x20, 0x41, 0x24, 0x9E, 0x4A, 0xAB, 0x2A, 0xA0, 0x52, 0xB0, 0x61, 0x81, 0x15, 0x6F, 0x07, 0xA2
#define W_SERIAL_NUMBER       0x76, 0x09, 0x29, 0x80

//Eksempel på AES Nøgle brugt : 2041249E4AAB2AA052B06181156F07A2 som skrives som 0x20, 0x41, 0x24, 0x9E, 0x4A, 0xAB, 0x2A, 0xA0, 0x52, 0xB0, 0x61, 0x81, 0x15, 0x6F, 0x07, 0xA2
//Eksempel på Måler serial : 76092980 som skrives som 0x76, 0x09, 0x29, 0x80
